### node etc ###

# Runtime data
*.log
.DS_Store
# Dependency directorys
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git

node_modules/
bower_components

client/dist/bundle.js
config.js